{% extends "base.html" %} {% block title %}チャンネル作成 - UniChat{% endblock %} {%
block content %}

<div class="timeline-container">
  <h2>チャンネル作成</h2>
  <div class="new-channel">
    <form method="POST" action="{{ url_for('create_channel') }}">

      <div class="mb-3">
        <label for="content" class="form-label">チャンネル名</label>
        <input
          type="text"
          id="name"
          name="name"
          maxlength="20"
          required
          class="form-control"
        />
        <div class="char-counter mt-1"><span id="charCount">0</span>/20</div>
      </div>

      <button type="submit" class="btn btn-tweet">チャンネルを作る</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("content").addEventListener("input", function () {
    const charCount = this.value.length;
    const charCountElement = document.getElementById("charCount");
    charCountElement.textContent = charCount;

    if (charCount > 20) {
      charCountElement.style.color = "red";
    } else {
      charCountElement.style.color = "";
    }
  });
</script>
{% endblock %}